@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Drop Grid Test Suite</p>
</div>

<a href="#" id="new-game">New Game</a> or 
<span id="game-list"></span>

<hr/>

<div id="drops" style="display: none;">
    <button class="red-drop on-drop">1</button>
    <button class="green-drop on-drop">2</button>
    <button class="blue-drop on-drop">3</button>
</div>

<div id="drop-aim" class="grid-box">
    
</div>

<div id="grid-view" class="grid-box">

</div>

<button id="remove" class="remove-marked" style="display: none;">Hit!</button>